<!-- footer -->
<footer class="container d-flex align-items-center justify-content-between" style="margin-top: 100px;">
  <p class="text-white">
    Copyright © 2022 TicketBooker. All rights reserved.
  </p>
  <div class="icon">
    <a href="" class="text-decoration-none">
      <img src="/assets/image/login_image/ph_instagram-logo.svg" alt="insta" />
    </a>
    <a href="" class="text-decoration-none">
      <img src="/assets/image/login_image/ri_linkedin-box-fill.svg" alt="linkd" />
    </a>
    <a href="" class="text-decoration-none">
      <img src="/assets/image/login_image/mdi_twitter.svg" alt="twitter" />
    </a>
  </div>
  <div class="d-flex align-items-center">
    <a href="" class="text-decoration-none text-white me-md-5 text-center">Privacy Policy</a>
    <a href="" class="text-decoration-none text-white text-center">Term of Use</a>
  </div>
</footer>