<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/header.css" />

    <title>Document</title>
  </head>
  <body>
    <!-- ****** header ***** -->
    <header>
      <nav>
        <img
          src="/assets/image/login_image/login_logo.png"
          alt=""
          class="logo_icon"
        />
        <ul class="menu">
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>
            <a href="/pages/policy.html">About</a>
          </li>
          <li>
            <a href="">Contact</a>
          </li>
          <li>
            <a href="/pages/events.html">Event</a>
          </li>
          <li>
            <a href="/pages/404.html">404 Error</a>
          </li>
          <li>
            <a href="/pages/Test.html">Admin</a>
          </li>
        </ul>
        <div class="login_up">
          <a href="/pages/signup.html" class="signup">Sign up</a>
          <a href="/pages/login.html" class="login">Log In</a>
        </div>
      </nav>
    </header>
  </body>
</html>
