body {
      background-color: #121212;
      color: #fff;
    }
.container_1{
      padding-top: 100px;
    }
.ranking-card {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 16px;
      margin-bottom: 16px;
      background-color: black;
    }
    .rank-number {
      font-size: 1.5rem;
      font-weight: bold;
      color: #007bff;
    }
    .film-title {
      font-size: 1.25rem;
      font-weight: 600;
    }